*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */

    }

    @media screen and (max-width: 1200px) {
      body{
       transform-origin: top;
       transform: scale(1.1);
       margin:0 auto;
      }
      /* .icon-container{
        width: 45%;
        margin: 0 auto;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "a b"
        "c d";
        grid-gap: 2px;
      } */
     
       }

body {
    background-color: rgb(250, 235, 215);
    background-image: url('assets/pattern-background.svg');
}
/* the main container */

.back-side {
  border: 20px solid antiquewhite;
  margin: auto;
  width: 500px;
  height: 500px;
  /* top: 1; */
  margin: 20px auto;
  margin-top: 55px;
  overflow: hidden;
  box-shadow: 2px 5px 15px 0px #17161694;
  background-color:rgb(119, 147, 95);
}



.icon-container{
  width: 45%;
  margin: 0 auto;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "a b"
  "c d";
  grid-gap: 2px;
}
.logo-container{
  width: 30%;
  margin: 60px auto;
  margin-bottom: 10;
 
}

.text-container{
  margin-bottom: 5px
}

.dots{
  scale: 10%;
  margin-top: 5px;
}

h3{
  font-family: 'Sofia Sans', sans-serif;
  margin-bottom: 0px;
  color: antiquewhite;
  text-align: center;
}

h4{
  font-family: 'Sofia Sans', sans-serif;
  margin-bottom: 0px;
  color: antiquewhite;
  text-align: left;
  padding-top: 10px ;
  padding-left: 5px;
}

h5{
  font-family: 'Sofia Sans', sans-serif;
  font-style: italic;
  margin-top: 0px;
  padding-top: 0px;
  text-align: center;
  color:antiquewhite
} 


/* svg styling */
/* .st0{display:none;} */
/* .st1{display:inline;} */


svg{
  fill: antiquewhite;
}

#icon-fill{
  fill:none;
}

a:link {
  text-decoration: none;
 }


.svg-interaction:hover{
  fill:rgba(255, 255, 255, .7);
  opacity: 0.5;
  animation:pulse; 
  animation-duration: 1s;
}

.logo-fill{
  fill:white;
}
